<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498034837678-kcpd4kkkdn23lcj0e4u2jfphdl8auhvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498034837678-kcpd4kkkdn23lcj0e4u2jfphdl8auhvs</string>
	<key>API_KEY</key>
	<string>AIzaSyAv13rwlEc4Y8HzVHaHQM_t3xuHvkd0Lpg</string>
	<key>GCM_SENDER_ID</key>
	<string>498034837678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cecs491app.craveApp</string>
	<key>PROJECT_ID</key>
	<string>craveapp-b698b</string>
	<key>STORAGE_BUCKET</key>
	<string>craveapp-b698b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498034837678:ios:e79969944076444473453f</string>
	<key>DATABASE_URL</key>
	<string>https://craveapp-b698b-default-rtdb.firebaseio.com</string>
</dict>
</plist>